* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #fadf83, #ffb74b, #54c64e);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.todo-header {
  font-size: 1.5rem;
}

.todo-header,
.todo {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo__input {
  padding: 0.8rem 1rem;
  font-size: 1.6rem;
  border: none;
  background: #fff;
  outline: none;
  color: #848688;
}

.todo__button {
  padding: 0.8rem;
  font-size: 1.6rem;
  border: none;
  background: #fff;
  outline: none;
}

.todo__input::placeholder {
  font-size: 18px;
  color: #c7ccd180;
}

.todo__button {
  color: #54c64e;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.todo__button:hover {
  color: #fff;
  background: #54c64e;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
  width: 500px;
}

.todo-list__item-container {
  margin: 0.5rem;
  background: #fff;
  color: #848688;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  position: relative;
}

.todo-list__item {
  flex: 1;
}

.todo-list__completed-buttons,
.todo-list__trash-buttons {
  background: #54c64e;
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
}

.todo-list__trash-buttons {
  background: #ffb74b;
}
/* .todo-list__edit-buttons {
  background: #ffb74b;
} */

.todo-list__item {
  padding: 0rem 0.5rem;
  display: block;
  z-index: 10;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.todo-list__edit-clone-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.543);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: none;
}

.todo-list__item:hover + .todo-list__edit-clone-container {
  display: flex;
}

.todo-list__item:hover + .todo-list__trash-buttons {
  background: red;
}

.todo-list__edit-button,
.todo-list__clone-button {
  background: none;
  color: #fff;
  /* border: 1px solid #fff; */
  border: none;
  margin: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  outline: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

.select {
  margin-left: 1rem;
  position: relative;
  overflow: hidden;
  height: 53px;
  width: 200px;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #ffb74b;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease-out;
  font-size: 0.9rem;
}

/* .select[data-state="active"] .select::after {
  content: "\25B2";
} */

.select[data-state="active"]::after {
  content: "\25B2";
}

.select:hover::after {
  background: #fff;
  color: #54c64e;
}

.select__label,
.select__input {
  max-height: 40px;
  border-top-width: 1px;
}

.filter-todo {
  color: #ffb74b;
  width: 200px;
  cursor: pointer;
  padding-left: 1.2rem;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.select__content {
  color: #ffb74b;
}

.select[data-state="active"] {
  overflow: visible;
}

.select[data-state="active"] .select__content {
  opacity: 1;
  width: 100%;
}

.select__content {
  position: absolute;
  color: #ffb74b;
  bottom: -120px;
  left: 0;
  height: 120px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-top: none;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
}

.select__input {
  display: none;
}
.select__input:checked + label {
  background-color: #fff;
}
.select__input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}

.select__label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  /* max-height: 0; */
  padding: 0 16px;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
  color: #ffb74b;
  font-size: 14px;
  line-height: 1;
}

.select__label:hover {
  background-color: #c7ccd180 !important;
}
